@import "@styles/flex.scss";

.user-menu {
  position: relative;
    padding:20px;
    margin-top:20px;
    width:100%;
    background: #fff;
    border-radius:8px;
    color:#000;
    .user-max-text{
      font-size:28px;
      color:#000;
      font-weight: 600;
  }
  .menu{
    padding:20px 0;
    width:25%;
  }
  .menu-img{
    width:52px;
    height:52px;

  }
  .menu-text{
color:#666666;
font-size:24px;
padding-top:20px;
  }
}


