@import "@styles/theme.scss";

.item-footer {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #faf9fa;
  @include border(top, 1px, solid, $border-color);
}

.item-footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96px;
  @include border(right, 1px, solid, $border-color);

  &-img {
    width: 40px;
    height: 40px;
  }
  &-text{
font-size:20px;
font-weight:400;
color:rgba(51,51,51,1);
padding-top:2px;
  }
}

.item-footer__buy {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #E02020;
  @include border(right, 1px, solid, $border-color);

  &-txt {
    color:#FFFFFF;
    font-size: 28px;
    line-height: 28px;
  }
}
