@import "@styles/flex.scss";

.meet-content{
    position: relative;
    padding:20px;
    width:100%;
    background: #fff;
    margin-top: 150px;
    .meet-row{
        padding-top:20px;
        .meet-title-img{
            width:96px;
            height:96px;
        }
        .meet-title-text{
            font-size:24px;
            color:#666666;
            padding-top:10px;
        }
    }
   
}
