@import '@styles/flex.scss';

.user-login {
  height:100vh;
  width:100%;
  background: #FFFFFF;
  .login-content{
    padding:0 111px;
  }
  .logo-img{
    width:294px;
    height:102px;
  }
  .tip-text{
font-size:24px;
font-weight:400;
color:rgba(153,153,153,1);
line-height:34px;
padding-top:80px;
  }
  .agree-content{
    width:100%;
    padding-top:32px;
  }
  .agree-check{
    width:32px;
    height:32px;
    border: solid #f00 1px;
    border-radius: 16px;
  }
  .agree-text{
font-size:24px;
font-weight:500;
color:rgba(224,32,32,1);
line-height:34px;
padding-left:4px;
  }
  .login-but{
    width:260px;
height:88px;
border-radius:44px;
border:2px solid rgba(217,217,217,1);
margin-top:52px;
  }
  .allow{
    border:2px solid #D60019;
    background: #D60019;
    margin-left:18px;
    color:#fff;
  }
  .agree-checked{
    background: #D60019;
  }
}

