@import "@styles/flex.scss";

.order-content{
    position: relative;
    padding:20px;
    margin-top:40px;
    width:100%;
    background: #fff;
    border-radius:8px;

    .order-title{
        padding-bottom: 30px;
    }
    .order-max-text{
        font-size:28px;
        color:#000;
        font-weight: 600;
    }
    .order-min-text{
        font-size:24px;
        color:#999999;
        margin-left:6px;
    }
    .order-more{
        width:12px;
        height:24px;
        margin-left:4px;
    }
    .order-img{
        width:52px;
        height:52px;
    }
    .order-title{
color:#333333;
font-size:24px;
line-height: 30px;
padding-top:20px;
    }
    
    
    
}

.atTabs-pan{
    background: #F7F7F7;
}
.at-tabs{
    min-height: 100vh;
    overflow-y: scroll;
}
.at-tabs__header{
    background: #F7F7F7;
    font-size:24px;
}
.at-tabs__header {
    position: fixed;
    width:100%;
    height:88px;
    z-index:999;
    top:100px;
}
.at-tabs__item{
    padding:24px 0;
    text-align: center;
    color:#666666;
}
.at-tabs__item--active {
    color:#E02020;
}
.at-tabs__item-underline{
    background-color: #E02020;
    width:50%;
    margin-left:25%;
    height:2px;
}
.at-tabs__body {
    margin-top:188px;
}
.orderList{
    padding:32px;
    color:#333333;
    background: #fff;
    margin-top:20px;
    &-top{
        font-size:28px;
        font-weight:400;
    }
    &-bottom{
        font-size:24px;
        font-weight:400;
        padding-top:32px;
    }
    &-content{
        &-view{
            border-bottom:solid #F5F5F5 2px;
            padding:16px 0;
        }
        &-img{
            width:134px;
            height:134px;
            margin:16px 20px 16px 0;
        }
        &-title{
            font-size:24px;
            font-weight:400;
            width:436px;
        }
        &-right{
            padding-left:32px;
        }
        &-num{
            font-size:24px;
            padding-top:12px;
        }
        &-price{
            font-size:24px;
            font-weight:800;
        }
        &-speces{
            color:#666666;
            font-size:24px;
            font-weight:400;
        }
    }
    &-but{
        padding: 20px 0;
        .cancel-but{
            border-radius:26px;
            border:2px solid rgba(239,239,239,1);
            font-size:24px;
            padding:8px 0;
            width:160px;
        }
        .pay-but{
            border-radius:26px;
            border:0;
            font-size:24px;
            background: #E02020;
            color:#fff;
            padding:8px 0;
            width:160px;
            margin-left:20px;
        }
    }
}
.orderList__searchPre{
    position:fixed;
    z-index:999;
    width:100%;
    height:100px;
    background: #fff;
    .orderList__search {
        height:60px;
        width: 686px;
        margin:20px auto;
       
        &-wrap {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          border-radius: 40px;
          padding:10px 20px;
          background: #F2F2F2;
      
        }
      
        &-img {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }
      
        &-txt {
          color: #999999;
          font-size: 28px;
        }
        &-right{
          width:120px;
          height:100%;
        }
        &-right-img{
          width:38px;
          height:38px;
        }
        &-right-text{
          font-size:20px;
          color:#fff;
          padding-top:4px;
        }
      }
}


.orderMsg{
    background: #F7F7F7;
    height: 100vh;
    &-status{
        background: #999999;
        padding:32px 84px  14px  32px;
        .order-icon{
            width:28px;
            height:30px;
        }
        .order-img{
            width:138px;
            height:106px;
        }
        &-text{
            font-size:28px;
            font-weight:500;
            color:#fff;
            padding-left:16px;
        }
        &-time{
            font-size:20px;
            font-weight:500;
            color:#fff;
            padding-top:20px;
            padding-left:44px;
        }
    }
    &-content{
        background: #fff;
        &-top{
            padding:36px 32px 16px 32px;
        }
        &-icon{
            width:32px;
            height:32px;
        }
        .shopText{
            font-size:28px;
            font-weight:400;
            color:#333;
            padding-left:20px;
        }
        .serviceText{
            font-size:28px;
            font-weight:400;
            color:#E02020;
            padding-left:20px;
        }
        &-view{
            padding:0 18px;
        }
    }
    &-price{
        font-size:28px;
        color:#666666;
        margin-top:20px;
        &-view{
            padding:20px 32px;
            background: #fff;
            border-bottom: solid 1px #EFEFEF;
        }
        .block-text{
            color:#333333;
        }
        .red-text{
            color:#E02020;
        }
    }
    &-other{
        font-size:24px;
        color:#666666;
        margin-top:20px;
        background: #FFFFFF; 
        padding:20px 32px;
        &-text{
            padding:8px 0;
        } 
        &-but{
            width:120px;
            height:52px;
            border-radius:26px;
            border:2px solid rgba(239,239,239,1);  
        }
    }
}





