@import "@styles/flex.scss";

.sell-content{
    position: relative;
    padding:20px;
    margin-top:40px;
    width:100%;
    background: #fff;
    .sell-max-text{
        font-size:28px;
        color:#000;
        font-weight: 600;
    }
    .sell-min-text{
        font-size:24px;
        color:#999999;
        margin-left:6px;
    }
    .sell-more{
        width:12px;
        height:24px;
        margin-left:4px;
    }
    .brand{
        padding:10px ;
        &-img{
            width:44px;
            height:44px;
            border-radius: 22px;
            padding-right: 6px;
        }
        &-title{
           padding-top:20px; 
        }
    }
    
    .good{
        padding:20px;
        width:218px;
        &-img{
            width:218px;
            height:182px;
        }
        &-title{
            font-size:26px;
            color:#000;
            overflow:hidden;
            text-overflow:ellipsis;
             display:-webkit-box;
               -webkit-box-orient:vertical;
             -webkit-line-clamp:2;
        }
        .new-price{
            color:#f00;
            font-size:34px;
        }
        .old-price{
            color:#CBCBCB;
            font-size:24px;
            padding-left:6px;
            text-decoration:line-through;
        }
    }
}
