.goods{
    width:50%;
    padding:22px 10px 5px 10px  ;
}
.img-view{
    width: 100%;
    background: #F5F5F5;
    padding:44px 0 36px 0;
    border-radius: 4px;
}
.good-img{
    width:144px;
    height:242px;
    margin-bottom:10px;
}
.good-text{
    font-size:22px;
    padding:14px 20px 0 20px;
}
.price-pre{
    width:100%;
}
.now-price{
    color:#f00;
    font-size:34px;
    padding-top:6px;
}
.old-price{
    color:#CBCBCB;
    font-size:24px;
    padding-left:6px;
    padding-top:6px;
    text-decoration:line-through;
}