@import "@styles/flex.scss";
.add_modal{
  padding-top: 40px;
  .add_title{
    text-align: center;
    font-size: 32px;
    color: #666;
  }
  .at-input__title{
    font-size: 28px;
    color: #333333;
  }
  .at-input input{
    font-size: 28px;
  }
  .at-input--disabled{
    opacity: 1;
  }
  image{
    width: 16px;
    height: 28px;
  }
}
.at-float-layout__container{
  border-radius:16px 16px 0px 0px;
}