@import "@styles/theme.scss";

.carts{
  background: #fff;
  margin-bottom:20px;
  .shop_name{
    font-size:28px;
    line-height: 40px;
    color:#333;
    font-weight: 600;
    padding:16px 32px;
  }
  .carts-view{
    padding:24px 32px 32px 20px;
  }
  .carts-check{
    width:48px;
    height:48px;
    border-radius: 28px;
    border:solid #262626 2px;
    margin-right:12px;
  }
  .carts-content{
    .good_img{
      width:206px;
      height:206px;
      border-radius: 8px;
    }
    &-right{
      padding-left:28px;
    }
    .carts-title{
      width:328px;
      font-size:24px;
      color:rgba(51,51,51,1);
      font-weight:400;
      line-height:36px;
      overflow:hidden;
      text-overflow:ellipsis;
       display:-webkit-box;
         -webkit-box-orient:vertical;
       -webkit-line-clamp:2;
    }
    .delet-icon{
      width:31.5px;
      height:30px;
      padding-left:30px;
    }
    .carts-type{
      font-size:24px;
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:34px;
      padding-top:20px;
    }
    &-bot{
      padding-top:40px;
    }
    .carts-price{
      color:#f00;
      font-size:34px;
    }
    .symbol-icon{
      width:16px;
      height:16px;
    }
    .good-num{
      background: #F6F6F6;
      width:76px;
      height:38px;
      line-height: 38px;
      text-align: center;
      margin:0 10px;
      border-radius: 4px;
      font-size:24px;
    }
  }
}


.cart-list {
  margin-top: 20px;
}

.cart-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 30px 46px;
  background: #ffffff;

  &-img {
    width: 160px;
    height: 160px;
    background: #fafafa;
    border-radius: 4px;
    margin-right: 22px;
  }

  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    &-tag {
      margin-right: 12px;
      color: #f48f18;
      font-size: 28px;
      line-height: 42px;
    }

    &-name {
      flex: 1;
      color: $text-color;
      font-size: 28px;
      line-height: 42px;
      @include text-ellipsis;
    }
  }

  &-spec {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    &-txt {
      padding: 6px 12px 4px;
      color: $text-color-light;
      font-size: 24px;
      line-height: 30px;
      background: #f4f3f4;
      border-radius: 4px;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
  }

  &-price {
    color: $text-color;
    font-size: 26px;
    line-height: 26px;
  }
}
