@import "@styles/flex.scss";

.isIphoneX.tab{
  height: 146px;
}
.tab{
  width: 100%;
  height: 112px;
  position: fixed;
  background: #fff;
  z-index: 100;
  bottom: 0;
  left: 0;
  box-shadow:0px -2px 8px 0px rgba(0,0,0,0.06);

  .tab_list{
    width: 25%;
  }
  .tab_img{
    width: 40px;
    height: 40px;
    margin-top: 22px;
    margin-bottom: 10px;
  }
  .tab_text{
    color: #555;
    font-size: 20px;
  }
}