/*postcss-pxtransform rn eject disable*/
.flex-row{display: flex;flex-direction: row;}
.flex-col{display: flex;flex-direction: column;}
/*************垂直上对齐********/
.flex-y-start{display: flex;  align-items: flex-start;}
/*************垂直居中********/
.flex-y-center{display: flex; align-items:center;}
/*************垂直下对齐********/
.flex-y-end{display: flex; align-items: flex-end;}
/*************垂直两端对齐********/
.flex-y-between{display: flex; align-items: space-between;}
/*************水平 间隔相等 均匀显示********/
.flex-y-around{display: flex; align-items:space-around}
/*************水平左对齐********/
.flex-x-start{display: flex;justify-content: flex-start;}
/*************水平居中********/
.flex-x-center{display: flex;justify-content: center;}
/*************水平两端对齐********/
.flex-x-between{display: flex;justify-content: space-between;}
/*************右侧对齐********/
.flex-x-end{display: flex;justify-content: flex-end;}
/*************水平 间隔相等 均匀显示********/
.flex-x-around{display: flex;justify-content:space-around}
.flex-1{display: flex;flex-grow:1}
.flex-center{display: flex; align-items:center;justify-content: center;}
