@import "@styles/theme.scss";
@import "@styles/flex.scss";

.home {
  position: relative;
  background: #F5F5F5;
  padding-bottom:100px;
}


.home_custom{
  width: 100%;
  height: 514px;
  text-align: center;
  position: relative;
  z-index:2;
  .home_bg{
    width:100%;
    height:514px;
    border-radius: 0 0 20px 20px ;
    position:absolute;
    z-index:-1;
    background:linear-gradient(134deg,rgba(254,58,58,1) 0%,rgba(245,143,92,1) 100%);
  }
  .home_title{
    color: #fff;
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 88px;
    font-size: 36px;
    &.isIphoneX{
      padding-top: 90px;
    }
  } 
  .home_shop{
    width: 100%;
    height: 80px;
    padding-left:30px;
    .home_shopImg{
      width: 40px;
      height: 40px;
    }
    .home_shopName{
      padding-left:10px;
      color:#fff;
      font-weight:600;
    }
  }
  .home-meet{
    padding-top:30px;
  }
  .meet-title-img{
    width:28px;
    height:28px;
}
.meet-title-text{
    font-size:20px;
    color:#E02020;
    padding-left:8px;
}
  
}
.home__search {
  height:72px;
  padding-left:20px;
  &-wrap {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px solid #fff;
    @include hairline(border-width);
    border-radius: 40px;
    padding:10px 20px;
    background: #fff;
  }

  &-img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  &-txt {
    color: #999999;
    font-size: 28px;
  }
  &-right{
    width:120px;
    height:100%;
  }
  &-right-img{
    width:38px;
    height:38px;
  }
  &-right-text{
    font-size:20px;
    color:#fff;
    padding-top:4px;
  }
}

.home__wrap {
  padding-top:40px;
}

.home__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-txt {
    color: $text-color-light;
    font-size: 24px;
  }
}
