@import "@styles/theme.scss";

.cate-menu {
  padding-top: 40px;
}

.cate-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  background: #F7F7F7;
  position: relative;
  border-radius: 10px;
  &--active {
    background: #fff;
  }
  .leftBlock{
    width: 7px;
    height: 52px;
    background: #E02020;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 20px;
  }

  &-name {
    margin-left: -6px;
    width: 100%;
    color: #333333;
    font-size: 28px;
    text-align: center;

    &--active {
      color: #E02020;
    }
  }
}
