@import "@styles/flex.scss";

.address_item {
  width: 100%;
  height: 265px;
  background: #fff;
  margin-bottom: 20px;
  padding: 32px;
  .address_name {
    color: #333;
    font-size: 32px;
    font-weight: 500;
  }

  .address_city {
    padding: 32px 0;
    margin-bottom: 18px;
    border-bottom: 2px solid #eee;
    .default {
      background: #feebeb;
      width: 80px;
      height: 34px;
      font-size: 20px;
      color: #e02020;
      margin-right: 16px;
      display: inline-block;
      text-align: center;
      line-height: 34px;
    }
    .city {
      padding: 0 5px;
    }
  }
  .deleteIcon {
    width: 32px;
    height: 32px;
  }
  .gouIcon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .noIcon{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 50%;
  }
}
