@import "@styles/theme.scss";
@import "@styles/flex.scss";

.cate {
  height: 100%;
  background: #ffffff;
}

.cate__menu {
  width: 196px;
}

.cate__list {
  // TODO 此处不能能用 flex: 1 (flex-basis: 0)，RN 上会无法滚动，跟 ScrollView 的处理有关
  flex-grow: 1;
  @include eject(flex, 1);

  &-wrap {
    padding: 30px 30px 20px;
  }
}
.home__search {
  height:60px;
  width: 686px;
  margin:20px auto;
  &-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 40px;
    padding:10px 20px;
    background: #F2F2F2;

  }

  &-img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  &-txt {
    color: #999999;
    font-size: 28px;
  }
  &-right{
    width:120px;
    height:100%;
  }
  &-right-img{
    width:38px;
    height:38px;
  }
  &-right-text{
    font-size:20px;
    color:#fff;
    padding-top:4px;
  }
}
