@import "@styles/theme.scss";

.infoBase{
  background: #fff;
  padding:16px 32px;
  &-price{
    .bg_text{
      font-size:20px;
      font-weight:400;
      color:rgba(224,32,32,1);
      background:#F9E2E2;
      padding:4px 10px;
    }
    .red_font{
      color:#D60019;
      font-size:40px;
    }
    .del_font{
      color:#CBCBCB;
      font-size:24px;
      padding-left:6px;
      text-decoration:line-through;
    }
    &-text{
      font-size:20px;
      font-weight:400;
      color:rgba(153,153,153,1);
      line-height: 28px;
      padding-top:4px;
    }
    &-icon{
      width:28px;
      height:28px;
    }
.left-pad{
  padding-left:32px;
}
  }
  .good-taxes{
font-size:24px;
font-weight:400;
color:rgba(102,102,102,1);
line-height:34px;
padding-top:20px;
  }
  .good-title{
    font-size:30px;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:38px;
    padding-top:16px;
  }
  .good-detil{
    font-size:22px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:32px;
    padding-top:20px;
  }
}
.good-send{
  background: #fff;
  margin-top:24px;
  padding:0 32px;
  color:rgba(102,102,102,1);
  line-height:80px;
  font-weight:400;
  &-type{
    font-size:28px;
  }
  &-address{
    font-size:24px;
  }
  .bor-bot{
    border-bottom:solid #EFEFEF 1px;
  }
  &-list{
    padding-right:30px ;
  }
  &-img{
    width:20px;
    height:20px;
  }
  &-text{
font-size:22px;
color:rgba(153,153,153,1);
padding-left:10px;
  }
  &-right{
color:rgba(153,153,153,1);
font-size:28px;
padding-right:20px;
}
  .more-img{
    width:12px;
    height:26px;
  }
}




.item-info-base {
  padding: 40px 30px;
  background: $white;
}

.item-info-base__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-name {
    color: $black;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  &-desc {
    margin-top: 14px;
    color: $text-color-lighter;
    font-size: 28px;
    line-height: 32px;
  }

  &-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 22px;

    &-txt {
      color: $primary-color;
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
    }

    &-link {
      margin-top: 12px;
      color: $text-color-lighter;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.item-info-base__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;

  &-symbol {
    padding-top: 8px;
    color: $primary-color;
    font-size: 24px;
    line-height: 24px;
  }

  &-txt {
    color: $primary-color;
    font-size: 38px;
    line-height: 38px;
  }

  &-origin {
    margin-left: 18px;
    padding-top: 10px;
    color: $text-color-lighter;
    font-size: 24px;
    line-height: 24px;
  }
}

.item-info-base__tag {
  display: flex;
  flex-direction: row;
  margin-top: 28px;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #f28e2d;
    @include hairline(border-width);
    border-radius: 6px;

    @include eject(border-width, 1PX);

    &-txt {
      color: #f28e2d;
      font-size: 24px;
    }

    &-img {
      margin-left: 8px;
      width: 13px;
      height: 24px;
    }
  }
}
