@import "@styles/theme.scss";

.user {
  position: relative;
  height:100vh;
  background: #F5F5F5;
}

.user__wrap {
  background: #F5F5F5;
}

.user__logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 96px;
  background: $white;

  &-txt {
    color: #333;
    font-size: 28px;
    line-height: 28px;
  }
}

.user__empty {
  height: 20px;
}

.user__activity {
  position: absolute;
  right: 30px;
  bottom: 60px;
}
.my-content{
  padding:10px 30px;
  position:absolute;
  top:300px;
  width:750px;
}
