@import "@styles/theme.scss";

/**
 * // NOTE  RN Swiper 的 indicator 位置与 H5、小程序不同
 * 这边通过 height + 负 margin 实现一致样式，或者自己实现 indicator 也不难
 */

.home-banner {
  height: 255px;
  width: 100%;
}

.home-banner__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 100%;

  &-item {
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    &-img {
      width: 592rpx;
  height: 220rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
    }
    .active{
        transform: scale(1.2);
        transition:all .2s ease-in 0s;
    }
  }
}
