@import "@styles/flex.scss";
@import "@styles/reset.scss";

.address{
  background: #F7F7F7;
  height: 100%;
  .address_add{
    width: 686px;
    height: 112px;
    line-height: 112px;
    text-align: center;
    background: #E02020;
    border-radius: 50px;
    color: #fff;
    font-size: 36px;
    position: fixed;
    bottom: 40px;
    left: 32px;
  }
  .at-modal__content{
    display: flex;
    justify-content: center;
    align-items: center;
    .content-simple{
      display: flex;
    justify-content: center;
    align-items: center;
    }
  }
}