@import "@styles/flex.scss";

.search{
  padding:0 32px;
}
.home__search {
  height:60px;
  width: 686px;
  margin:20px auto;
  &-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 40px;
    padding:10px 20px;
    background: #F2F2F2;

  }

  &-img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  &-txt {
    color: #999999;
    font-size: 28px;
  }
  &-right{
    width:120px;
    height:100%;
  }
  &-right-img{
    width:38px;
    height:38px;
  }
  &-right-text{
    font-size:20px;
    color:#fff;
    padding-top:4px;
  }
}

.search_title{
  margin: 32px 0;
  font-size: 32px;
  color: #2c2c2c;
  image{
    width: 36px;
    height: 38px;
  }
}

.history{
  .history_item{
    padding: 10px 20px;
    background: #F2F2F2;
    margin-right: 20px;
    margin-bottom: 32px;
    display: inline-block;
  }
}