@import "@styles/flex.scss";

.pin-content{
    position: relative;
    padding:20px;
    margin-top:40px;
    width:100%;
    background: #fff;
    .pin-max-text{
        font-size:28px;
        color:#000;
        font-weight: 600;
    }
    .pin-min-text{
        font-size:24px;
        color:#999999;
        margin-left:6px;
    }
    .pin-more{
        width:12px;
        height:24px;
        margin-left:4px;
    }
    .good{
        padding:20px;
        &-img{
            width:264px;
            height:264px;
            margin-right:20px;
        }
        &-right{
            width:382px;
            padding-left:10px;
        }
        &-title{
            font-size:28px;
            color:#000;
            overflow:hidden;
            text-overflow:ellipsis;
             display:-webkit-box;
               -webkit-box-orient:vertical;
             -webkit-line-clamp:2;
        }
        &-pin-title{
            font-size:26px;
            color:#000;
        }
        &-price{
            color:#f00;
            font-size:34px;
            padding-left:6px;
        }
        &-join{
            color:#fff;
            font-size:24px;
            padding:10px 20px;
            border-radius: 40px;
            background: #D60019;
        }
    }
}
