@import "@styles/flex.scss";
.user-profile{
  width: 100%;
  height: 600px;
  background: #F5F5F5;
}
.user_bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    125deg,
    rgba(254, 61, 58, 1) 0%,
    rgba(245, 136, 92, 1) 100%
  );
  clip-path: ellipse(70% 60% at 50% 100px);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  .user_title {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding-top: 80px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
  }
  .user_avatar{
    margin-top: 18px;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    overflow: hidden;
  
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  .user_name{
    font-size: 36px;
    color: #fff;
  }
}
.user-profile {
  position: relative;
  overflow: hidden;
}

.user-profile__extra {
  align-self: flex-start;
  margin-left: 18px;
  width: 220px;

  &-qr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 30px;

    &-img {
      width: 44px;
      height: 44px;
    }
  }
}
